{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Registration page {% endblock %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3 class="text-center">Login</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- <div class="mb-3">
                            <label for="username" class="form-label">Talaba ID</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Parol</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div> -->
                        
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="remember_me" name="remember_me">
                            <label class="form-check-label" for="remember_me">
                                Meni eslab qol
                            </label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}